.cart-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  width: 350px;
  gap: 15px;
}

.cart-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-card-details {
  flex: 1;
}
.product_img {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px red solid;
}
.cart-card-details h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #333;
}

.cart-card-details p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.quantity {
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
}
