.product_container {
  display: flex;
  border: 2px black solid;
}

.left_product_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  border: 1px red solid;
}

.product_img {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px red solid;
}

.right_product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.addButton {
  font-size: 50px;
  padding: 0 50px;
}

.addButton:hover {
  cursor: pointer;
}
